*{
	font-size: 25px;
}
.contact-form__h2{
	font-size: 2em;
    font-family: 'Dancing Script', cursive;
    line-height: 1.9;
    font-weight: 100;
    color: red;
    }
.parrafo-div2__p{
	 font-family: Georgia;
}