.caja{
				
				border:2px solid red;
				height:300px;
				width: 300px;
				
				}

.caja img{
				
				height: 100%;
				width: 100%;
				object-fit: none;
				
}

.caja2{
				
				border:2px solid red;
				height:300px;
				width: 300px;
				margin-top: 20px;
				overflow: hidden;
				margin: 20px;
				}

.caja2 img{
				
				height: 100%;
				width: 100%;
			 object-fit: none;
				
}

